name: Depenedabot Matrix Notifications

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
    notify:
        if: github.actor == 'dependabot[bot]'
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v2

            - name: Send notification to Matrix
              env:
                ELEMENT_CHAT_URL: ${{ secrets.ELEMENT_CHAT_URL }}
                ELEMENT_ROOM_ID: ${{ secrets.ELEMENT_ROOM_ID }}
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                REPO_OWNER: nextcloud
                REPO_NAME: integration_openproject
              run: ./.github/scripts/notify-nextcloud-release-to-element.sh
                  